:root {
  /* --delayed: #f0a411; */
  --delayed: #ffed6b;

  --yellow: #e6e126;
  --red: #e63f26;
  --orange: #e66102;
  --cyan: #02c1e6;
  --green: #00dd67;
  /* --purple: #e226ff; */
  --purple: #9800b0;
  /* --purple: #aa4767; */
  --pink: #db0ab8;
  --turkey: #0adbae;
  --blue: #2535c0;
}

* {
  margin: 0;
  box-sizing: border-box;
  cursor: none;
}

body {
  background: black;
  color: white;
  font-family: 'Segoe UI', 'Roboto', arial, sans-serif;
  font-size: 25px;

  user-select: none;
  overflow: hidden;
}

.logo {
  height: 100%;
  width: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: opacity(0); /* 0-4 */
  transition: 20s filter;
  display: flex;
  align-items: center;
}
.logo img {
  height: 70%;
  width: auto;
}


/* sections */
.program {
  position: absolute;
  top: 50%;
  left: 28%;
  transform: translate(-50%, -50%);
}

.clock {
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
}

.info {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);
  min-width: 600px;
  text-align: center;
}


/* program */
.program .section {
  display: flex;
  padding: 5px 0;
  padding: 16px 20px;
  transition: background-color .5s;
}
.program .section.active {
  background-color: rgba(255, 255, 255, 0.18);
  border-radius: 6px;
}
/* .program .section div:not(.color) {
  padding: 0 10px;
} */
.flexColumn {
  flex-direction: column;
  align-self: center;
  /* padding: 0 10px; */
}

.name {
  font-size: 30px;
}
.description {
  color: #cdcdcd;
  max-width: 400px;
  /* margin-top: -4px; */
}

.color {
  width: 6px;
  height: 60px;
  border-radius: 10px;
  margin: 0 30px;
}
.color, .time {
  align-self: center;
}
/* .time {
  padding: 0 16px;
} */


/* clock */
#digital {
  text-align: center;
  text-shadow: 0px 0px 8px #ffffff;
  margin-top: 30px;
}

/* #clock {
  border-radius: 50%;
  border: 1px solid white; / * TODO: remove this * /
  width: 500px;
  height: 500px;
}
#clock .ticker {
  background: white;
  border-radius: 10px;
  width: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.8);
}
#tickerH {
  height: 100px;
}
#tickerM {
  height: 200px;
} */
#clock {
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(clock.png);
  background-size: cover;
  filter: drop-shadow(0px 0px 2px rgba(255, 255, 255, 0.5)) brightness(20);
  border-radius: 50%;
}
/* #clock::before {
  content: '';
  position: absolute;

} */
.hour, .min {
  position: absolute;
}
.hour, .hr {
  width: 192px;
  height: 192px;
}
.min, .mn {
  width: 275px;
  height: 275px;
}
.sec, .ss {
  width: 270px;
  height: 270px;
}
.hr, .mn, .ss {
  display: flex;
  justify-content: center;
  position: absolute;
  border-radius: 50%;
}
.hr::before {
  content: '';
  position: absolute;
  width: 8px;
  height: 100px;
  background: white;
  z-index: 10;
  border-radius: 6px;
  box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.6);
}
.mn::before {
  content: '';
  position: absolute;
  width: 6px;
  height: 140px;
  background: white;
  z-index: 11;
  border-radius: 6px;
  box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.6);
}
.ss::before {
  content: '';
  position: absolute;
  width: 2px;
  height: 160px;
  background: #db4b4b;
  z-index: 12;
  border-radius: 6px 6px 0 0;
  box-shadow: 0px 0px 6px rgba(222, 40, 40, 0.8);
}



/* info */
.info div {
  background: var(--orange);
  color: black;
  /* padding: 8px 20px 0 20px; */
  padding: 9px 16px 12px 16px;
  border-radius: 2px;
  /* transition: all .2s; */
  position: relative;
}
/* .info div:last-child {
  padding-bottom: 8px;
} */
.info .material-icons {
  padding-right: 8px;
  font-size: 1em;
  position: absolute;
  /* transform: translate(-100%, 25%); */
  transform: translateX(-100%);
}